.inputContainer {
  display: flex;
  margin-bottom: 20px;
}

.todoInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.todoAddButton {
  padding: 10px;
  margin-left: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
